<div class="container">
    <div class="jumbotron pb-0" style="background: none">

        <div>
            <h1 class="display-3 mt-3">Gelateria</h1>
            <div class="form-group ">

                <label for="usersInput" class="font-weight-bolder">Which flavor?</label>
                <input type="text" class="form-control border-dark" id="usersInput">

            </div>
            <button class="btn btn-light btn-outline-dark px-4" type="submit" id="submit">GET IT</button>

        </div>
        <div>
            <img src="assets/images/icekitty.png" height="300px">
        </div>
    </div>
    <main>
        <div class="card border-dark ">
            <div class="card-header text-center font-weight-bold">Waiting to be devoured</div>
            <div class="card-body pl-0">

                <ul>
                    {{#each iceCreams}}
                    {{#unless this.devoured}}
                    <li>
                        {{name}}
                        <button class="devourIt" data-id="{{id}}">
                            Devour it!
                        </button>

                    </li>
                    {{/unless}}
                    {{/each}}
                </ul>
            </div>
        </div>
        <div class="card border-dark ">
            <div class="card-header text-center font-weight-bold">Devoured</div>
            <div class="card-body pl-0">

                <ul>
                    {{#each iceCreams}}
                    {{#if this.devoured}}
                    <li>
                        {{name}}

                        <button class="delete" data-id="{{id}}">DELETE!</button>
                    </li>
                    {{/if}}
                    {{/each}}
                </ul>
            </div>
        </div>
    </main>

    <script src="assets/javascript/ice.js"></script>

</div>