<div class="container">
    <div class="jumbotron pb-0" style="background: none">

        <div>
            <h1 class="display-3 mt-3">Gelateria</h1>
            <div class="form-group ">

                <label for="usersInput">Which flavor?</label>
                <input type="text" class="form-control border-dark" id="usersInput">

            </div>
            <a class="btn btn-light btn-lg px-5 border-dark" type="submit" role="button " id="submit">GET IT</a>
        </div>
        <div>
            <img src="assets/images/icekitty.png" height="300px">
        </div>
    </div>
    <main>
        <div class="card border-dark ">
            <div class="card-header text-center">Waiting to be devoured</div>
            <div class="card-body">
                {{!-- <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> --}}
                <ul>
                    {{#each iceCreams}}
                    {{#unless this.devored}}
                    <li>
                        {{name}}
                        <button class="devourIt" data-id="{{id}}">
                            Devour it!
                        </button>

                    </li>
                    {{/unless}}
                    {{/each}}
                </ul>
            </div>
        </div>
        <div class="card border-dark ">
            <div class="card-header text-center">Devoured</div>
            <div class="card-body">
                {{!-- <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> --}}
                <ul>
                    {{#each iceCreams}}
                    {{#if this.devored}}
                    <li>
                        {{name}}

                        <button class="delete" data-id="{{id}}">DELETE!</button>
                    </li>
                    {{/if}}
                    {{/each}}
                </ul>
            </div>
        </div>
    </main>



</div>